<!-- this file is only for taking notes -->

<!-- new student -->
<div class="item studentC" onclick="cardClickable({{ $user->id }})">
    <!-- background -->
    <svg viewBox="0 0 600 800">
        <path d="M523.9,4c39.8,0,72.1,32.3,72.1,72.1v647.8c0,39.8-32.3,72.1-72.1,72.1H76.1c-39.8,0-72.1-32.3-72.1-72.1V76.1C4,36.3,36.3,4,76.1,4h447.8M523.9,0H76.1C34.1,0,0,34.1,0,76.1v647.8c0,42,34.1,76.1,76.1,76.1h447.8c42,0,76.1-34.1,76.1-76.1V76.1c0-42-34.1-76.1-76.1-76.1h0Z" style="fill: #000; stroke-width: 0px;"/>
        <polygon points="599.5 799.5 -.5 799.5 -.5 478 599.5 537 599.5 799.5" style="fill: #999; stroke-width: 0px;"/>
    </svg>
    <!-- img div -->
    <div class="studentImg">
        @if(is_null($user->avatar))
        <div class=" d-flex justify-content-center">
            <span
                style="background-image: url('{{asset('uploads/images/default_avatar.png')}}') ;"
                class="bgImg">&nbsp</span>
        </div>
        @else
        <div class=" d-flex justify-content-center">
            <span style="background-image: url('/uploads/{{ $user->avatar }}');"
                class="bgImg">&nbsp</span>
        </div>
        @endif
    </div>
    <!-- react icons -->
    <div class="react d-flex flex-row justify-content-evenly align-items-center" onclick="event.stopPropagation(); return false; " >
        @if(auth()->check())
        <i class="fa fa-heart" style="
                            color:@if($user->likedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count() == 1) red @else black @endif
                            " data-id="{{$user->id}}" >
            <span class="text-black">{{$user->likedUser->count()}}</span>
        </i>
        <i class="fa fa-bookmark" data-id="{{$user->id}}" style="
                            color:  @if($user->collectedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count() == 1) red @else black @endif
                        " >
            <span class="text-black">{{$user->collectedUser->count()}}</span>
        </i>
        @else
        <i class="fa fa-heart" style="color: black;" data-id="{{$user->id}}" >
            <span class="text-black">{{$user->likedUser->count()}}</span>
        </i>
        <i class="fa fa-bookmark" data-id="{{$user->id}}" >
            <span class="text-black">{{$user->collectedUser->count()}}</span>
        </i>
        @endif
    </div>
    <!-- name card -->
    <div class="name-card d-flex flex-column justify-content-center">
        <h4>{{ $user->name }}</h4>
        <h6>{{ !is_null($user->universityItem) ? $user->universityItem->english_name : '' }}
        </h6>
    </div>
    <!-- post tag -->
    <div class="postTags row row-cols-3 mt-2 justify-content-center">
        @forelse ($user->postCategory as $count => $cate)
        @if ($count < 3) <span href="#" class="col-3 btn btn-outline-secondary m-1"
            style="font-size: 0.6rem;">
                <a href="{{route('senior', ['category' => $cate->postCategory->id])}}" class="text-decoration-none w-100 text-white">
                    #{{ $cate->postCategory->name }}
                </a>
            </span>
            @endif
            @empty
            @endforelse
    </div>
    <?php $UserSkillRelation = $Data['UserSkillRelation']->where('user_id', $user->id)->get(); ?>
    <!-- skill tag -->
    <div class="skillTags row row-cols-3 mt-2 justify-content-between">
        @foreach ($UserSkillRelation as $key => $cateId)
        <?php $cate = $Data['Skills']->where('id', $cateId->skill_id)->first(); ?>
        @if($key < 6) <span href="#" class="col-4 btn btn-outline-secondary"
            style="font-size: 0.6rem;"><a href="{{route('senior',['skill' => $cateId->skill_id])}}" class="text-decoration-none w-100" style="color:#4C2A70;">#{{ $cate->name }}</a></span>
            @if($key==2)
            <br>
            @endif
            @endif
            @endforeach
    </div>
    <p><a href="{{route('get-introduction',$user->id)}}" class="text-decoration-none text-black">點擊查看更多</a></p>
</div>

<!-- old student -->
<!-- student card -->
<div class="item studentC" onclick="cardClickable({{ $user->id }})">
    <div>
        <div class="cards">
            <!-- student profile pic -->
            <div class="studentProfile">
                <div class="studentImg">
                    @if(is_null($user->avatar))
                    <!-- <img src="{{asset('uploads/images/default_avatar.png')}}" alt="Card image cap" width="200" height="200"> -->
                    <div class=" d-flex justify-content-center">
                        <span
                            style="background-image: url('{{asset('uploads/images/default_avatar.png')}}') ;"
                            class="bgImg">&nbsp</span>
                    </div>
                    @else
                    <!-- <img src="/uploads/{{ $user->avatar }}" alt="Card image cap" width="200" height="200"> -->
                    <div class=" d-flex justify-content-center">
                        <span style="background-image: url('/uploads/{{ $user->avatar }}');"
                            class="bgImg">&nbsp</span>
                    </div>
                    @endif
                </div>
                <!-- video Btn -->
                <div class="videoBtn">
                    @if(is_null($user->profile_video))
                    <a class="text"
                        onClick="alert('學長姐尚未上傳影音'); event.stopPropagation(); event.preventDefault();">
                        <img class="card-img-top"
                            src="https://cdn.pixabay.com/photo/2016/02/01/12/33/play-1173551_640.png"
                            alt="Card image cap">
                    </a>
                    @else
                    <a href="{{ $user->profile_video }}" class="text" target="_blank">
                        <img class="card-img-top"
                            src="https://cdn.pixabay.com/photo/2016/02/01/12/33/play-1173551_640.png"
                            alt="Card image cap">
                    </a>
                    @endif
                </div>
                <!-- react icons -->
                <div class="react d-flex flex-row justify-content-evenly align-items-center"
                onclick="event.stopPropagation(); return false; " >
                    @if(auth()->check())
                    <i class="fa fa-heart" style="
                                        color:@if($user->likedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count() == 1) red @else black @endif
                                        " data-id="{{$user->id}}" >
                        <span class="text-black">{{$user->likedUser->count()}}</span>
                    </i>
                    <i class="fa fa-bookmark" data-id="{{$user->id}}" style="
                                        color:  @if($user->collectedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count() == 1) red @else black @endif
                                    " >
                        <span class="text-black">{{$user->collectedUser->count()}}</span>
                    </i>
                    @else
                    <i class="fa fa-heart" style="color: black;" data-id="{{$user->id}}" >
                        <span class="text-black">{{$user->likedUser->count()}}</span>
                    </i>
                    <i class="fa fa-bookmark" data-id="{{$user->id}}" >
                        <span class="text-black">{{$user->collectedUser->count()}}</span>
                    </i>
                    @endif
                </div>
            </div>
            <!-- name card -->
            <div class="name-card d-flex flex-column justify-content-center">
                <h4>{{ $user->name }}</h4>
                <h6>{{ !is_null($user->universityItem) ? $user->universityItem->english_name : '' }}
                </h6>
            </div>
            <!-- post tag -->
            <div class="postTags row row-cols-3 mt-2 justify-content-center">
                @forelse ($user->postCategory as $count => $cate)
                @if ($count < 3) <span href="#" class="col-3 btn btn-outline-secondary m-1"
                    style="font-size: 0.6rem;">
                        <a href="{{route('senior', ['category' => $cate->postCategory->id])}}" class="text-decoration-none w-100 text-white">
                            #{{ $cate->postCategory->name }}
                        </a>
                    </span>
                    @endif
                    @empty
                    @endforelse
            </div>
            <?php
                        $UserSkillRelation = $Data['UserSkillRelation']->where('user_id', $user->id)->get();
                        ?>
            <!-- skill tag -->
            <div class="skillTags row row-cols-3 mt-2 justify-content-between">
                @foreach ($UserSkillRelation as $key => $cateId)
                <?php
                                $cate = $Data['Skills']->where('id', $cateId->skill_id)->first();
                                ?>
                @if($key < 6) <span href="#" class="col-4 btn btn-outline-secondary"
                    style="font-size: 0.6rem;"><a href="{{route('senior',['skill' => $cateId->skill_id])}}" class="text-decoration-none w-100" style="color:#4C2A70;">#{{ $cate->name }}</a></span>
                    @if($key==2)
                    <br>
                    @endif
                    @endif
                    @endforeach
            </div>
            <!-- </a> -->
        </div>
        <p><a href="{{route('get-introduction',$user->id)}}"
                class="text-decoration-none text-black">點擊查看更多</a></p>
    </div>
</div>


<!-- old university -->
<!-- Ucard Section -->
<section class="py-5 border-bottom" id="features">
    <div class="uCardSection">
        <a class="title" href="{{route('university-list')}}">關注 | 學校</a>
        <div class="owl-carousel owl-theme cards">
            @foreach ($Data['University'] as $key => $university)
                <div class="item" onclick="uniCardClick('{{ $university->slug }}')">
                    <div>
                        <div class="card">
                            <div class=" d-flex justify-content-center">
                            <span style="background-image: url('{{asset($university->image_path)}}') ;"
                                    class="bgImg">&nbsp</span>
                            </div>
                        </div>
                        <div class="name-card">
                            <h6 class="ellipsis text-white">{{ \Illuminate\Support\Str::limit($university->chinese_name, 10) }}</h6>
                            <small class="ellipsis"><a class="text-decoration-none text-white" href="{{route('senior', ['university' => $university->slug])}}">{{ \Illuminate\Support\Str::limit($university->english_name, 20) }}</a></small>
                        </div>
                        <h5>目前有<a href="{{route('senior', ['university' => $university->slug])}}">{{$university->vip->count()}}</a>位在校</h5>
                    </div>
                </div>
            @endforeach
        </div>
    </div>
</section>

<!-- new university -->
<section class="py-5 border-bottom" id="features">
    <div class="uCardSection">
        <!-- title -->
        <a class="title" href="{{route('university-list')}}">關注 | 學校</a>
        <!-- information -->
        <div class="sliderUni cards">
            @foreach ($Data['University'] as $key => $university)
                <div class="item" onclick="uniCardClick('{{ $university->slug }}')">
                    <div>
                        <div class="uniLogo">
                            <div class="d-flex justify-content-center">
                            <span style="background-image: url('{{asset($university->image_path)}}') ;" class="bgImg">&nbsp</span>
                            </div>
                        </div>
                        <div class="uniName">
                            <h6>{{ \Illuminate\Support\Str::limit($university->chinese_name, 10) }}</h6>
                            <h4>{{ \Illuminate\Support\Str::limit($university->english_name, 20) }}</h4>
                        </div>
                        <h5>目前有<a href="{{route('senior', ['university' => $university->slug])}}">{{$university->vip->count()}}</a>位在校</h5>
                    </div>
                </div>
            @endforeach
        </div>
    </div>
</section>


<!-- old QA section -->
<div class="qaSection">
    @foreach($Data['QaCategory']->take(4) as $category)
    <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor"
            class="bi bi-airplane-engines" viewBox="0 0 16 16">
            <path
                d="M8 0c-.787 0-1.292.592-1.572 1.151A4.35 4.35 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0M7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1s.458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7z" />
        </svg>
        <div>
            <h5>
                <a href="{{route('qna', ['category_id'=> $category->id])}}"
                    class="text-decoration-none text-white" style="font-size: 1rem;">
                    {{$category->name}}
                </a>
            </h5>
        </div>
        @forelse($category->QACategoryRelation->take(3) as $relation)
            <p>
                <a href="{{route('qna.show', $relation->qa->id)}}"
                    class="text-decoration-none text-primary"
                    style="font-size: 0.8rem; letter-spacing: normal">{{$relation->qa->title}}</a>
            </p>
        @empty
        @endforelse
        @for($count = $category->QACategoryRelation->take(3)->count(); $count<3; $count++)
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        @endfor
    </div>
    @endforeach
</div>

<!-- new QA section -->
<div class="row justify-content-center">
    @foreach($Data['QaCategory']->take(6) as $category)
    <div class="col-3 qaCard row justify-content-between align-items-center">
        <div class="col-8 d-flex flex-column h-100">
            <a class="categName" href="{{route('qna', ['category_id'=> $category->id])}}">
                {{$category->name}}
            </a>
        @forelse($category->QACategoryRelation->take(3) as $relation)
            <a class="categQA" href="{{route('qna.show', $relation->qa->id)}}">
                {{$relation->qa->title}}
            </a>
        @empty
            <p>Hey, nobody asked yet.</p>
        @endforelse
        </div>
        <img class="col-4" src="{{ asset('uploads/images/yzl-test.png') }}" alt="icons">
    </div>
    @endforeach
</div>


<!-- old senior page cards -->
<div class="seniorPage">
    @forelse($users as $user)
        <div class="col-4 item studentC" onclick="cardClickable({{ $user->id }})">
            <div class="col cards">
                <div class="studentProfile">
                    <!-- avatar -->
                    <div class="studentImg">
                    @if(is_null($user->avatar))
                        <!-- <img src="{{asset('uploads/images/default_avatar.png')}}" alt="Card image cap" width="200" height="200"> -->
                        <div class=" d-flex justify-content-center">
                            <span style="background-image: url('{{asset('uploads/images/default_avatar.png')}}') ;" class="bgImg">&nbsp</span>
                        </div>
                    @else
                        <!-- <img src="/uploads/{{ $user->avatar }}" alt="Card image cap" width="200" height="200"> -->
                        <div class=" d-flex justify-content-center">
                            <span style="background-image: url('/uploads/{{ $user->avatar }}');" class="bgImg">&nbsp</span>
                        </div>
                    @endif
                    </div>
                    <!-- video btn -->
                    <div class="videoBtn" onclick="event.stopPropagation(); event.preventDefault();">
                        @if(is_null($user->profile_video))
                            <a class="text" onClick="alert('學長姐尚未上傳影音');">
                                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/01/12/33/play-1173551_640.png" alt="Card image cap">
                            </a>
                        @else
                        <a href="{{ $user->profile_video }}" class="text">
                            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/01/12/33/play-1173551_640.png" alt="Card image cap">
                        </a>
                        @endif
                    </div>
                    <!-- react icons -->
                    <div class="react" onclick="event.stopPropagation(); event.preventDefault();">
                        @if(auth()->check())
                            <i class="fa fa-heart"
                               style="color:@if($user->likedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count()==1) red @else black @endif;"
                               data-id="{{$user->id}}">
                                <span style="color: black;">{{$user->likedUser->count()}}</span>
                            </i>
                            <i class="fa fa-bookmark"
                               style="color:@if($user->likedUser->where('uid', auth()->user()->id)->where('user_id', $user->id)->count()==1) red @else black @endif;"
                               data-id="{{$user->id}}">
                                <span style="color: black;">{{$user->collectedUser->count()}}</span>
                            </i>
                        @else
                            <i class="fa fa-heart" style="color:black;" data-id="{{$user->id}}">
                                <span style="color: black;">{{$user->likedUser->count()}}</span>
                            </i>
                            <i class="fa fa-bookmark" style="color:black;" data-id="{{$user->id}}">
                                <span style="color: black;">{{$user->collectedUser->count()}}</span>
                            </i>
                        @endif
                    </div>
                </div>
                <!-- name card -->
                <div class="name-card">
                    <h4>{{$user->name}}</h4>
                    <h6>{{!is_null($user->universityItem) ? $user->universityItem->english_name:''}}</h6>
                </div>
                <!-- post tags -->
                <div class="postTags row row-cols-3 mt-2 justify-content-center">
                    @if(!is_null($user->postCategory))
                        @foreach($user->postCategory as $key=>$category)
                            @if($key < 3)
                            <span class="col-3 btn btn-outline-secondary m-1" style="font-size: 0.6rem;">
                                {{$category->postCategory->name}}
                            </span>
                            @endif
                        @endforeach
                    @endif
                </div>
                <!-- skill tags -->
                <div class="skillTags row row-cols-3 mt-2 justify-content-center">
                    @if(!is_null($user->skills))
                        @foreach($user->skills as $key => $skill)
                            @if($key < 6)
                            <span class="col-3 btn btn-outline-secondary m-1" style="font-size: 0.6rem;">
                                {{$skill->skill->name}}
                            </span>
                                @if($key==2)
                                    <br>
                                @endif
                            @endif
                        @endforeach
                    @endif
                </div>
                <a href="{{route('get-introduction', $user->id)}}" class="text-center text-black-50">點擊查看更多</a>
            </div>
        </div>
    @empty
        <div class="row">
            <p class="vh-100">
                目前尚無學長姐資料
            </p>
        </div>
    @endforelse
</div>


<!-- taggle menu section -->
<div class="row text-gray-600">
    <h4 class="mt-3 col-6"><a href="{{url('/')}}" class="text-decoration-none text-black">首頁</a> > 學長姊</h4>
    <div class="col-6 d-flex justify-content-end">
        <svg id="burger" width="50px" height="50px" viewbox="0 0 50 50" onclick="toggle()">
            <g>
                <rect width="30" height="5" x="10" y="10" fill="gray" />
                <rect width="30" height="5" x="10" y="20" fill="gray" />
                <rect width="30" height="5" x="10" y="30" fill="gray" />
            </g>
        </svg>
    </div>
</div>
<div id="toggleBar">
    <div class="col d-flex flex-column">
        <h6>英語系國家</h6>
        <a href="{{route('senior', ['area' => 'northeast'])}}" class="text-decoration-none">美國東北部</a>
        <a href="{{route('senior', ['area' => 'west'])}}" class="text-decoration-none">美國西北部</a>
        <a href="{{route('senior', ['area' => 'midwest'])}}" class="text-decoration-none">美國中西部</a>
        <a href="{{route('senior', ['area' => 'south'])}}" class="text-decoration-none">美國南部</a>
        <a href="{{route('senior', ['country' => 'canada'])}}" class="text-decoration-none">加拿大</a>
        <a href="{{route('senior', ['country' => 'uk'])}}" class="text-decoration-none">英國</a>
        <a href="{{route('senior', ['country' => 'australia'])}}" class="text-decoration-none">澳洲</a>
        <a href="{{route('senior', ['country' => 'new zealand'])}}" class="text-decoration-none">其他</a>
    </div>
    <div class="col d-flex flex-column">
        <h6>歐語系國家</h6>
        <a href="{{route('senior', ['country' => 'france'])}}" class="text-decoration-none">法國</a>
        <a href="{{route('senior', ['country' => 'germany'])}}" class="text-decoration-none">德國</a>
        <a>義大利</a>
        <a>其他</a>
    </div>
    <div class="col d-flex flex-column">
        <h6>亞洲國家</h6>
        <a href="{{route('senior', ['country' => 'taiwan'])}}" class="text-decoration-none">台灣</a>
        <a href="{{route('senior', ['country' => 'japan'])}}" class="text-decoration-none">日本</a>
        <a href="{{route('senior', ['country' => 'korea'])}}" class="text-decoration-none">韓國</a>
        <a>其他</a>
    </div>
    <div class="col d-flex flex-column">
        <h6>中國相關</h6>
        <a>中國</a>
        <a href="{{route('senior', ['country' => 'singapore'])}}" class="text-decoration-none">新加坡</a>
        <a href="{{route('senior', ['country' => 'hong kong'])}}" class="text-decoration-none">香港</a>
        <a href="{{route('senior', ['country' => 'macau'])}}" class="text-decoration-none">澳門</a>
        <a>其他</a>
    </div>
</div>
<!-- end of toggle menu section -->


<!-- old study abroad post img -->
<!-- Post images -->
<div class="postImg">
    <!-- img -->
    <img class="postPhoto" src="{{ asset('uploads/'.$post->image_path) }}" alt="">
    <img class="userimg" src="{{ isset($post->author->avatar)? asset('uploads/'.$post->author->avatar) : asset('uploads/images/default_avatar.png') }}" alt="">
    <!-- namecard -->
    <p class="text-white namecard"><a href="{{route('get-introduction', $post->author->id)}}" class="text-decoration-none text-white">{{ $post->author->name  }}</a></p>
</div>
